.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;

  /* your code here */
  position: relative;
  right: 10rem;
}

#bulbasaur {
  /* your code here */
  position: relative;
  top: 2rem;
}

#charmander {
  /* your code here */
  position: relative;
  top: 4rem;
}

#squirtle {
  /* your code here */
  position: relative;
  top: 7rem;
}

#pikachu {
  /* your code here */
  position: relative;
  top: 12rem;
}

#jigglypuff {
  /* your code here */
  position: relative;
  top: 20rem;
}
