button {
  padding: 8px 20px;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
}

tr:nth-child(odd) {
  background-color: gray;
}

th {
  background-color: black;
  color: white;
}
