body {
  margin: 0;
}

.row {
  display: flex;
}

.container {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  padding: 10rem;
  border-radius: 50%;
  border-style: none;
}

.light-mode {
  background-color: #faea84;
}

.light-mode-background {
  background-color: #fef9f1;
}

.dark-mode {
  background-color: #222224;
  box-shadow: 0 -20px 1px 10px #0c0c0c;
}

.dark-mode-background {
  background-color: #111;
}
