.container {
  max-width: 1200px;
  margin: 0 auto;
  font-family: Avenir, sans-serif;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

.column-quarter {
  width: 25%;
}

img {
  width: 100%;
}

.space-between {
  justify-content: space-between;
}

nav > a {
  color: rgb(182 182 182);
  text-decoration: none;
  cursor: pointer;
  gap: 2rem;
  text-transform: capitalize;
}

a:hover {
  text-decoration: underline rgb(192 192 192);
}

.background-color {
  background-color: whitesmoke;
}

.nav {
  justify-content: end;
  gap: 2rem;
}

button {
  padding: 10px 25px;
  border: none;
  border-radius: 3px;
  color: white;
  text-transform: capitalize;
  cursor: pointer;
  background-color: rgb(41 68 100);
  font-family: Avenir, sans-serif;
  font-size: 1rem;
}

nav > button {
  background-color: rgb(41 68 100);
  padding: 15px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  color: white;
  text-transform: capitalize;
  font-family: Avenir, sans-serif;
  font-size: 1rem;
}

button:hover {
  text-decoration: underline white;
}

.under-line {
  border-bottom: 1px solid;
  padding-bottom: 1rem;
  border-color: rgb(220 220 220);
}

.align-items-center {
  align-items: center;
}

.img-container {
  width: 100%;
}

.margin-top {
  margin-top: 4rem;
}

.text-container {
  position: absolute;
  top: 8rem;
  left: 8rem;
  width: 40%;
}

.position-relative {
  position: relative;
}

h1 {
  font-family: "Tiempos Headline", sans-serif;
  font-weight: 500;
  font-size: 2rem;
}

.text-container > h1 {
  font-family: "Tiempos Headline", sans-serif;
  font-weight: 400;
  color: white;
}

p {
  color: rgb(115 115 115);
}

.text-container > p {
  color: white;
  font-size: 1rem;
}

.overlay {
  background: linear-gradient(transparent, rgb(0 0 0 / 75%));
  position: absolute;
  width: 90%;
  height: 69.1vh;
  margin: 0 auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.location-header {
  width: 56%;
  margin: 0 auto;
  text-align: center;
}

.line-height {
  line-height: 1.5rem;
}

h2 {
  color: rgb(110 110 110);
  font-family: "Tiempos Headline", sans-serif;
  text-transform: capitalize;
  font-weight: 400;
}

.space-around {
  justify-content: space-around;
}

.location-container {
  color: rgb(115 115 115);
}

.footer-container {
  background-color: rgb(82 83 81);
  height: 40vh;
}

.white-logo-container {
  width: 50%;
}

.footer-text-container {
  padding-top: 2rem;
}

.margin-top-5 {
  margin-top: 5rem;
}

.column-ten-percent {
  width: 10%;
}

.footer-nav > a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  gap: 2rem;
  text-transform: capitalize;
  line-height: 2rem;
}

.align-items-baseline {
  align-items: baseline;
}

.footer-nav > h3 {
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}

.footer-text-container > p {
  color: white;
  line-height: 1.5rem;
}

.privacy-contact-us {
  padding: 3rem;
}

.gap {
  gap: 2rem;
}

.footer-anchor > a {
  color: rgb(115 115 115);
  text-decoration: none;
  cursor: pointer;
  gap: 2rem;
  text-transform: capitalize;
}

.width {
  width: 63%;
  margin: 0 auto;
}

.hero-img-container {
  width: 90%;
  margin: 0 auto;
}

.product-text-container {
  width: 40%;
  position: absolute;
  top: 8rem;
  left: 8rem;
  color: white;
}

.product-text-container > p {
  color: white;
}

.care-command {
  background-color: rgb(250 250 250);
}

.second-text-container {
  padding: 6rem;
  width: 100%;
  margin: 0 auto;
}

.italic {
  font-family: "Tiempos Headline", sans-serif;
  font-style: italic;
}

.a-text-decoration {
  text-decoration: none;
}

.learn-more-container {
  width: 80%;
}

.ordered-list-container {
  list-style-position: inside;
  margin: 0 auto;
  width: 45%;
  padding: 2rem;
}

.ordered-list-container > h2 {
  margin-bottom: 4rem;
  font-size: 1.5rem;
  color: rgb(95 82 79);
}

ol {
  padding-left: 1rem;
}

li::marker {
  font-size: 1.5rem;
  font-family: "Tiempos Headline", sans-serif;
  color: rgb(95 82 79);
}

li > span {
  font-size: 1.1rem;
  color: rgb(115 115 115);
  padding-left: 0.2rem;
}

li {
  margin: 4rem 0;
}

.padding-6rem {
  padding: 6rem;
}

.about-us-text {
  width: 50%;
  margin: 0 auto;
}

.text-align-center {
  text-align: center;
}

.text-align-center > h2 {
  color: rgb(95 82 79);
  font-size: xx-large;
}

.what-we-believe > a {
  text-decoration: none;
  font-weight: 700;
}

.circle-imgs-container {
  width: 20%;
  padding: 1rem;
}

.border-radius {
  border-radius: 50%;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.wrap {
  flex-flow: wrap;
}

.brown {
  color: rgb(95 82 79);
}

.column-eighty-percent {
  width: 80%;
}

.margin-top-bottom {
  margin: 4rem 0 10rem;
}

.line-height-two-half {
  line-height: 2.5rem;
}

.padding-bottom {
  padding-bottom: 5rem;
}

.margin-top-one-rem {
  margin-top: 1rem;
}
